@page "/avatars"
@using System.Net.Http
@using FlowZone.Admin.Services
@using FlowZone.shared.Dtos
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JSRuntime


<body>
    <div class="row">
        <div class="col-md-12 bg-light text-right">
            <h2 class="d-inline-block">Avatars</h2>
            <button type="button" class="btn btn-primary float-end m-3" data-toggle="modal" data-target="#exampleModal">
                Add Avatars
            </button>
        </div>
    </div>

    <div class="container-md">
        <div class="row gy-3">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="https://picsum.photos/1000?random=1" class="img-fluid" />
                <div class="d-grid">
                    <button class="btn mt-2 btn-danger">Delete</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="https://picsum.photos/1000?random=2" class="img-fluid" />
                <div class="d-grid">
                    <button class="btn mt-2 btn-danger">Delete</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="https://picsum.photos/1000?random=3" class="img-fluid" />
                <div class="d-grid">
                    <button class="btn mt-2 btn-danger">Delete</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="https://picsum.photos/1000?random=4" class="img-fluid" />
                <div class="d-grid">
                    <button class="btn mt-2 btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Avatars</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" @bind="Name" placeholder="Enter name">
                      </div>
                      <div class="form-group">
                        <label for="price">Price:</label>
                            <input type="text" class="form-control" id="price" @bind="Price" placeholder="Enter price">
                      </div>
                      <div class="form-group mt-3">
                        <label for="file">Upload File:</label>
                            <input type="file" class="form-control-file" @onchange="HandleFileUpload" id="file">
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="SaveAvatar">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

@code {
    private AvatarDto avatarDto = new AvatarDto();
    private string Name { get; set; }
    private string Price { get; set; }

    private AvatarService avatarService;

    public void AvatarPage(AvatarService avatarService)
    {
        this.avatarService = avatarService;
    }

    private async Task SaveAvatar()
    {
        avatarDto.Name = Name;
        avatarDto.Price = double.Parse(Price); 

        await avatarService.SaveAvatarAsync(avatarDto);

        // Clear form fields after submission
        Name = string.Empty;
        Price = string.Empty;

        // Close modal after submission
        await JSRuntime.InvokeVoidAsync("$('#exampleModal').modal('hide')");
    }

    private async Task DeleteAvatar()
    {
        // guid avatarid = ...;
        // await avatarservice.deleteavatarasync(avatarid);
    }

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        avatarDto.ImageData = buffer;
    }


}
