@page "/"

<body>
    <div class="row">
        <div class="col-md-12 bg-light text-right">
            <h2 class="d-inline-block">Avatars</h2>
            <button type="button" class="btn btn-primary float-end m-3" data-toggle="modal" data-target="#exampleModal">
                Launch modal
            </button>
        </div>
    </div>

    <div class="container-md">
        <div class="row gy-3">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="https://picsum.photos/1000?random=1" class="img-fluid" />
                <div class="d-grid">
                    <button class="btn mt-2 btn-danger">Delete</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="https://picsum.photos/1000?random=2" class="img-fluid" />
                <div class="d-grid">
                    <button class="btn mt-2 btn-danger">Delete</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="https://picsum.photos/1000?random=3" class="img-fluid" />
                <div class="d-grid">
                    <button class="btn mt-2 btn-danger">Delete</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="https://picsum.photos/1000?random=4" class="img-fluid" />
                <div class="d-grid">
                    <button class="btn mt-2 btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Challenges Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" placeholder="Enter description">
                        </div>
                        <div class="form-group">
                            <label for="points">Points</label>
                            <input type="number" class="form-control" id="points" placeholder="Enter points">
                        </div>
                        <div class="form-group">
                            <label for="StartDate">Start Date</label>
                            <input type="date" class="form-control" id="StartDate" placeholder="Enter start date">
                        </div>
                        <div class="form-group">
                            <label for="EndDate">End Date</label>
                            <input type="date" class="form-control" id="EndDate" placeholder="Enter end date">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>