<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />


    <style>
        /* Fixed sidebar */
        .l-navbar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: 200px; 
            padding-top: 70px; 
            background-color: blue;
            border-right: 1px solid #87CEFA; 
            overflow-y: auto; 
        }

        .main-content {
            margin-left: 200px; 
            padding: 15px;
            padding-top:70px;
        }
    </style>
</head>
<body>
    <header class="header" id="header" style="background-color: white;">
        <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
        <div class="logout-btn">
            <a href="/Account/Logout" class="btn btn-danger">Logout</a>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a class="nav_logo" asp-area="" asp-controller="Home" asp-action="Index"><i class='bx bx-layer nav_logo-icon'></i><span class="nav_logo-name">FlowZone</span> </a>
                <div class="nav_list">
                    <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Index"><i class='bx bx-home nav_icon'></i><span class="nav_name">Home</span></a>
                    <a class="nav_link" asp-area="" asp-controller="Avatar" asp-action="Index"><i class='bx bx-user nav_icon'></i><span class="nav_name">Avatars</span></a>
                    <a class="nav_link" asp-area="" asp-controller="Challenge" asp-action="Index"><i class='bx bx-task nav_icon'></i><span class="nav_name">Challenges</span></a>
                </div>
            </div>
        </nav>
    </div>

    <div class="main-content">
        @RenderBody()
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Script -->
    <script>
        $(document).ready(function () {
            const toggleSidebar = () => {
                $('#nav-bar').toggleClass('show');
                $('#header-toggle').toggleClass('bx-x');
                $('body').toggleClass('body-pd');
                $('#header').toggleClass('body-pd');
            };

            const sidebarState = sessionStorage.getItem('sidebarState');
            if (sidebarState === 'open') {
                toggleSidebar(); 
            }

            $('#header-toggle').click(function () {
                toggleSidebar();

                const sidebarState = $('#nav-bar').hasClass('show') ? 'open' : 'closed';
                sessionStorage.setItem('sidebarState', sidebarState);
            });

            $('.nav_link').click(function () {
                if (!$(this).hasClass('active')) {
                    $('.nav_link').removeClass('active');
                    $(this).addClass('active');
                }
            });

            $('.nav_logo').click(function (e) {

                if ($('#nav-bar').hasClass('show')) {
                    e.preventDefault(); 
                }
            });
        });
    </script>
</body>
</html>
