<h3>Challenges</h3>

@code {

}
		[Required, MaxLength(30)]
		public string Name { get; set; }

		[Required, MaxLength(100)]
		public string Description { get; set; }

		[Required]
		public int Points { get; set; }

		[Required]
		public DateTime StartDate { get; set; }

		[Required]
		public DateTime EndDate { get; set; }