@using static WebApplication1.Controllers.AvatarController;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Avatars";
}
<main aria-labelledby="title" class="container">
    <div class="row">
        <div class="col-6">
            <h1 style="color: blue;">Avatars</h1>
        </div>
        <div class="col-6 text-end">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#avatarModal">
                Add
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="avatarModalLabel">Add Avatars</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="avatarForm" action="@Url.Action("CreateAvatarAsync", "Avatar")" method="post" enctype="multipart/form-data">

                        <!-- Form inputs -->
                        <div class="form-group">
                            <label for="avatarName">Name</label>
                            <input type="text" class="form-control input-width" id="avatarName" name="avatarName" placeholder="Avatar Name">
                        </div>
                        <div class="form-group">
                            <label for="avatarPrice">Price</label>
                            <input type="number" class="form-control input-width" id="avatarPrice" name="avatarPrice" placeholder="Avatar Price">
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="avatarImage" name="avatarImage">
                            <label class="custom-file-label" for="avatarImage" id="avatarImageLabel">Choose file</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="saveAvatarButton">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#avatarImage').change(function () {
            var fileName = $(this).val().split('\\').pop(); // Extract filename
            $('#avatarImageLabel').text(fileName); // Set the label text to the filename
        });
     });
</script>

